/* 
    sethumadhavan,saravanapandian,sakthipriyan,vasanth;
    Nutrition Assistant Application;
*/
/*css for card*/
.card-container{
width: 82%;
 margin: 0 auto;
 padding: 1%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(59, 59, 59, 0.125);
    border-radius: 0.25rem;
}
.card-h5{
    margin-block-start: 0.67em;
    margin-block-end: -0.33em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-size: xx-large;
font-family: system-ui;

}
.card-body{
margin: 0 0;
 padding: 0 0;
 font-family: Arial, Helvetica, sans-serif
 
}

.card-text{
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 font-size: larger;
 font-family: system-ui;
 text-align: left;

}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mr-5, .mx-5 {
    margin-right: 3rem!important;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}


/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #29afa4;
    text-decoration: none;
}
a:hover{
    color: #47d4ff;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #6bf5ff;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #47e3ff;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food Search Section */

.food-search{
    background-image:url("https://nutri24.s3.jp-tok.cloud-object-storage.appdomain.cloud/desktop%20img.png");
    background-image: linear-gradient(to right,#14c4d4, rgba(250, 250, 243, 0.027));
    background-repeat: no-repeat;
    background-position: center;
    padding: 9% 0;
    width: 100%;
    position: relative;
}

.imge{
    background-image:url("https://nutri24.s3.jp-tok.cloud-object-storage.appdomain.cloud/mainfrontimg.jfif");
    background-repeat:no-repeat;
    background-position: right;
    
}
    


.content{
    font-family: 'Montserrat-SemiBold';
    font-size:xx-large;
    text-align:left;
    text-transform: uppercase;
    line-height: 1.1;
    color: white;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}